@import "tailwindcss";
@keyframes wave-scroll {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
  
  .animate-wave {
    animation: wave-scroll 8s linear infinite;
    transform-style: preserve-3d;
    will-change: transform;
  }
  